.stop_socket {
    position: absolute;
    top: 0;
    right: 0;
}

:root {
    --bg-color: rgba(17, 25, 40, 0.75);
    --primary-color-400: rgb(94, 55, 164);
    --primary-color-500: rgb(74, 35, 144);
    --primary-color-600: rgb(54, 15, 124);
    --secondary-color-400: rgba(17, 25, 40, 0.5);
    --secondary-color-500: rgba(17, 25, 40, 0.8);
    --secondary-color-600: rgba(17, 25, 40, 0.9);
    --font-color: #eeeeee;
    --notification-color: rgba(94, 55, 164, 0.5);
    --bg-url: url("bg.jpg");
    font-size: 16px;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    all: unset;
    cursor: pointer;
}

body {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--bg-url) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.main-container {
    overflow: hidden;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    display: flex;
    width: 70vw;
    height: 95vh;
    border-radius: 1em;
    color: var(--font-color);
}

.navigation-btn {
    display: none;
}

.main-container .navigation {
    /* background-color: var(--secondary-color-400); */

    /* border-radius: 12px; */
    border-right: 1px solid rgba(255, 255, 255, 0.125);
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container .navigation .list {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 0.5em;
    gap: 0.5em;
}

.main-container .navigation .list .main {
    /* background-color: var(--secondary-color-500); */

    width: 100%;
    padding: 1em 2em;
    border-radius: 5px;
    color: var(--font-color);
    font-size: 1em;
    transition: all 0.5s ease-in, color 0.2s ease;
}

.main-container .navigation .list .main:hover {
    background-color: var(--secondary-color-400);
}

.main-container .navigation .list .main .item {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 1em;
}

.main-container .navigation .list .main .item i {
    color: var(--primary-color-400);
}

.main-container .navigation .list .main:hover {
    color: var(--primary-color-400);
}

.main-container section {
    flex-grow: 1;
    /* background-color: var(--secondary-color-500); */
}

.main-container .navigation .list .main.active {
    color: var(--primary-color-400);
    /* background-color: var(--secondary-color-500); */
    transition: width 5s ease, background-color 0.5s ease;
}

.main-container .navigation .list .main .more {
    display: none;
    color: var(--font-color);
    flex-direction: column;
    gap: 0.5em;
    flex-grow: 0;
    flex-shrink: 0;
    /* background-color: var(--secondary-color-600); */
}

.main-container .navigation .list .main .more .more-item:hover {
    color: var(--primary-color-400);
    cursor: pointer;
}

.main-container .navigation .list .main.active .more {
    display: flex;
    animation: list-pop-up 0.5s ease forwards;
}

.main-container .navigation .list .main.active .more .more-item {
    opacity: 0;
}

.main-container .navigation .list .main.active .more .more-item {
    animation: list-item-pop-up 0.3s cubic-bezier(0.11, 0.69, 0.47, 1.38)
        calc(var(--animation-delay)) forwards;
}

/* Search style */

.main-container .search-section,
.main-container .playlist-search-section {
    display: flex;
    align-items: center;
    padding: 100px 2em 2em 1em;
    flex-direction: column;
    justify-content: space-between;
    gap: 4em;
    position: relative;
}

.main-container .search-section .search,
.main-container .playlist-search-section .search {
    position: relative;
    display: flex;
    width: 40ch;
    max-height: 2em;
    font-size: 1.5em;
    background-color: transparent;
    align-items: center;
    /* background-color: var(--bg-color);
    backdrop-filter: blur(16px) saturate(200%);
    -webkit-backdrop-filter: blur(16px) saturate(200%); */
    border-radius: 3px;
    /* overflow: hidden; */
    border-bottom: 2px solid var(--primary-color-400);
}

.main-container .search-section .search input,
.main-container .playlist-search-section .search input {
    outline: none;
    border: none;
    background-color: inherit;
    color: var(--font-color);
    font-size: inherit;
    flex-grow: 1;
    padding: 0.5em;
}

.main-container .search-section .search button,
.main-container .playlist-search-section .search button {
    /* background-color: var(--secondary-color-600); */
    background-color: transparent;
    outline: none;
    border: none;
    color: var(--font-color);
    width: 10%;
    transition: all 0.5s ease-in-out;
}

.main-container .search-section .search button:hover,
.main-container .playlist-search-section .search button {
    cursor: pointer;
    /* background-color: var(--primary-color-400); */
    color: var(--primary-color-400);
}

.main-container .search-result,
.main-container .favorite-section .songs {
    display: flex;
    gap: 0.5em;
    flex-direction: column;
    width: 70%;
    max-height: fit-content;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    /* gap: 2em; */
}

.main-container .search-result::-webkit-scrollbar,
.main-container .favorite-section .songs::-webkit-scrollbar {
    display: none;
}

.main-container .search-result .video,
.main-container .favorite-section .songs .song {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    /* background-color: var(--secondary-color-600) */
    background-color: var(--secondary-color-400);
    backdrop-filter: blur(16px) saturate(100%);
    -webkit-backdrop-filter: blur(16px) saturate(100%);
    /* border-bottom: 3px solid var(--secondary-color-400); */
    padding: 0.5em 1em;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.main-container .search-result .video .description,
.main-container .favorite-section .songs .song .description {
    font-size: 0.8em;
}

.main-container .search-result .video .buttons,
.main-container .favorite-section .songs .song .buttons {
    display: flex;
    width: 20%;
    justify-content: space-between;
    align-items: center;
}

.main-container .search-result .video .description .title,
.main-container .favorite-section .songs .song .description .title {
    font-size: 1.5em;
    font-weight: 300;
    max-width: 30ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main-container .search-result .video .description .details,
.main-container .favorite-section .songs .song .description .details {
    display: flex;
    gap: 0.5em;
    opacity: 0.7;
}

.main-container .search-result .video .buttons .add,
.main-container .favorite-section .songs .song .buttons .add {
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
}

.main-container .search-result .video .buttons .add svg,
.main-container .favorite-section .songs .song .buttons .add .svg {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.main-container .search-result .video .buttons .heart,
.main-container .search-result .video .buttons .add-to,
.main-container .favorite-section .songs .song .buttons .heart {
    cursor: pointer;
    font-size: 1.5em;
}

.main-container .search-result .video .heart:hover,
.main-container .search-result .video .buttons .add-to:hover,
.main-container .favorite-section .songs .song .buttons .heart:hover {
    color: var(--primary-color-400);
}

.main-container .search-result .video .buttons .add:hover,
.main-container .favorite-section .songs .song .buttons .add:hover {
    color: var(--primary-color-400);
}

.main-container .search-section .playlist-list {
    position: absolute;
    z-index: 10;
    display: flex;
    flex-direction: column;
    max-height: 300px;
    font-size: 1em;
    background-color: var(--secondary-color-600);
    /* padding: 0.5em; */
    border-radius: 10px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.main-container .search-section .playlist-list.hidden {
    display: none;
}

.main-container .search-section .playlist-list::-webkit-scrollbar {
    display: none;
}

.main-container .search-section .playlist-list .playlist {
    max-width: 30ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1em;
    flex-grow: 1;
    flex-shrink: 0;
    transition: all 0.5s ease;
    cursor: pointer;
}

.main-container .search-section .playlist-list .playlist:hover {
    background-color: var(--notification-color);
}

.template {
    display: none !important;
}

path,
svg {
    pointer-events: none;
}

/* Player styles */

.main-container .player-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5em 0;
    position: relative;
    gap: 5em;
}

.main-container .player-section .playlist {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-container .player-section .playlist .logo {
    background-color: #9adcff;
    font-size: 6em;
    padding: 0.3em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    max-width: 200px;
}

.main-container .player-section .playlist .logo .icon {
    pointer-events: none;
}

.main-container .player-section .playlist .title {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    margin-top: 1em;
}

.main-container .player-section .playlist .author {
    text-align: center;
    opacity: 0.8;
    font-size: 0.8em;
}

.main-container .player-section .player {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6em;
    background-color: var(--secondary-color-400);
    backdrop-filter: blur(16px) saturate(80%);
    -webkit-backdrop-filter: blur(16px) saturate(80%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em 1.5em;
}

.main-container .player-section .player .player-controller {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    justify-content: space-between;
    font-size: 1em;
}

.main-container .player-section .player .player-controller .main-controllers {
    font-size: 1.5em;
    justify-self: center;
    width: 5em;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.main-container
    .player-section
    .player
    .player-controller
    .main-controllers
    i:hover {
    opacity: 0.7;
}

.main-container .player-section .player .player-controller .options {
    font-size: 1.5em;
    display: flex;
    justify-content: flex-end;
    gap: 1em;
    cursor: pointer;
}

.main-container .player-section .player .player-controller .currentSong .title {
    max-width: 30ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main-container
    .player-section
    .player
    .player-controller
    .currentSong
    .author {
    font-size: 0.7em;
    opacity: 0.5;
    max-width: 30ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main-container .player-section .player .player-timeline {
    width: 100%;
    height: 5px;
    border-radius: 20px;
    overflow: hidden;
    background-color: var(--secondary-color-400);
}

.main-container .player-section .player .player-timeline .progress-bar {
    width: 100%;
    height: 100%;
    background-color: var(--primary-color-400);
    transform: translateX(-100%);
    transition: transform 0.5s;
}

.main-container .player-section .playlist-songs {
    width: 90%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.main-container .player-section .playlist-songs::-webkit-scrollbar {
    display: none;
}

.main-container .player-section .playlist-songs .song {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--secondary-color-400);
    padding: 0.5em 1em;
    border-radius: 12px;
    background-color: var(--secondary-color-400);
    backdrop-filter: blur(16px) saturate(80%);
    -webkit-backdrop-filter: blur(16px) saturate(80%);
}

.main-container .player-section .playlist-songs .song .description .details {
    display: flex;
    font-size: 0.8em;
    opacity: 0.6;
    gap: 1em;
}

.main-container .player-section .playlist-songs .song .description .title {
    position: relative;
    cursor: pointer;
}

.main-container .player-section .playlist-songs .song .description .title p {
    max-width: 60ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main-container
    .player-section
    .playlist-songs
    .song
    .description
    .title
    .speaker {
    opacity: 0.2;
    position: absolute;
    top: 50%;
    right: -4em;
    transform: translateY(-50%);
}

.main-container
    .player-section
    .playlist-songs
    .song.current
    .description
    .title
    .speaker {
    opacity: 1;
}

.main-container .player-section .playlist-songs .song .options {
    font-size: 2em;
}

.song-added {
    position: absolute;
    bottom: 1em;
    right: -20vw;
    background-color: var(--notification-color);
    backdrop-filter: blur(16px) saturate(50%);
    -webkit-backdrop-filter: blur(16px) saturate(50%);
    padding: 0.5em 1em;
    font-size: 1em;
    border-radius: 16px;
    transition: transform 0.5s ease;
    transform: translateX(0);
    z-index: 10;
}

.song-added.show {
    transform: translateX(-22vw);
}

.main-container .playlist-search-section {
    justify-content: flex-start;
    gap: 2em;
    height: 100%;
    padding: 4em 3em 0 3em;
}

.main-container {
    position: relative;
}

.main-container .playlist-saved,
.main-container .playlist-added {
    position: absolute;
    right: -30vw;
    font-size: 0.8em;
    padding: 1em 1.5em;
    border-radius: 30px;
    bottom: 3em;
    background-color: var(--notification-color);
    z-index: 10;
    transform: translateX(0);
    transition: transform 0.5s ease;
}

.main-container .playlist-saved.show,
.main-container .playlist-added.show {
    opacity: 1;
    transform: translateX(-32vw);
}

.main-container .playlist-search-section .search-result {
    flex-grow: 1;
}

.main-container .playlist-search-section .search-result .playlist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.main-container
    .playlist-search-section
    .search-result
    .playlist
    .playlist-logo,
.main-container .favorite-section .logo {
    font-size: 7em;
    padding: 3rem;
    border-radius: 16px;
    background-color: #9adcff;
}

.main-container .favorite-section .logo {
    background-color: #ffc745 !important;
}

.main-container .playlist-search-section .playlist .details,
.main-container .favorite-section .details {
    font-size: 1em;
    max-width: 40ch;
    text-align: center;
}

.main-container .playlist-search-section .playlist .details .title,
.main-container .favorite-section .details .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main-container .playlist-search-section .playlist .details .author,
.main-container .favorite-section .details .author {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main-container .playlist-search-section .search-result .playlist .add-playlist,
.main-container .favorite-section .add-playlist {
    background-color: var(--primary-color-400);
    padding: 1em 1.5em;
    border-radius: 20px;
    cursor: pointer;
    transition: opacity 0.5s ease;
}
.main-container .favorite-section .add-playlist {
    background-color: #ffc745 !important;
    letter-spacing: 4px;
    font-weight: 300;
    padding: 1em 2em;
}

.main-container
    .playlist-search-section
    .search-result
    .playlist
    .add-playlist:hover,
.main-container .favorite-section .add-playlist:hover {
    opacity: 0.8;
}

.main-container
    .playlist-search-section
    .search-result
    .playlist
    .add-playlist
    h2 {
    font-weight: 300;
}

.main-container .playlist-search-section .search-result .playlist .songs {
    width: 100%;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.main-container .playlists-section {
    padding: 8em 2em;
    display: grid;
    position: relative;
    gap: 3em;
    grid-template-columns: repeat(auto-fit, 25ch);
    grid-template-rows: repeat(auto-fit, 15em);
    justify-content: center;
    align-items: center;
    /* align-content: center;  */
}

.wrapper::-webkit-scrollbar {
    display: none;
}

.main-container .playlists-section .playlist {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

.main-container .playlists-section .playlist .details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-container .playlists-section .playlist .logo {
    background-color: #df7599;
    font-size: 7em;
    padding: 2rem;
    border-radius: 20px;
    position: relative;
    /* overflow: hidden; */
}

.main-container .playlists-section .playlist .title {
    font-size: 1.2em;
    font-weight: 300;
    text-align: center;
    min-width: 20ch;
    max-width: 25ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main-container .playlists-section .playlist .author {
    font-size: 0.8em;
    text-align: center;
    opacity: 0.5;
    min-width: 20ch;
    max-width: 30ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main-container .playlists-section .playlist .logo .selected-playlist {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(23, 28, 36, 0.95);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    color: var(--font-color);
    transition: opacity 0.5s ease;
    opacity: 0;
    outline: 2px ridge rgba(23, 28, 36, 0.95);
    z-index: 3;
    border-radius: 20px;
    font-size: 1rem;
}

.main-container .playlists-section .playlist .logo .selected-playlist .option {
    position: absolute;
    font-size: 1.5em;
    transform-origin: 3em;
    /* top: 5%; */
    left: 1em;
    /* background-color: var(--font-color); */
    /* border-radius: 10px; */
    padding: 0.7em;
    color: black;
    border-radius: 50%;
    background-color: white;
    transform: rotate(0);
    transition: transform 0.5s ease;
    pointer-events: none;
    /* transition-delay: calc(var(--index) * 0.5s); */
}

.main-container
    .playlists-section
    .playlist.selected
    .logo
    .selected-playlist
    .option {
    transform: rotate(calc(360deg / 3 * var(--index)));
}

.main-container
    .playlists-section
    .playlist.selected
    .logo
    .selected-playlist
    .option:hover {
    transform: scale(1.1) rotate(calc(360deg / 3 * var(--index)));
}

.main-container
    .playlists-section
    .playlist
    .logo
    .selected-playlist
    .option
    i {
    transform: rotate(calc(360deg / -3 * var(--index)));
    color: var(--secondary-color-500);
}

.main-container .playlists-section .playlist.selected .logo .selected-playlist {
    opacity: 1;
    cursor: pointer;
}

.main-container .playlists-section .playlist .logo .selected-playlist i {
    pointer-events: none;
    opacity: 1;
    transition: color 0.5s ease;
}

.main-container .playlists-section .playlist .logo .selected-playlist i:hover {
    color: var(--primary-color-400);
}

.main-container .player-controller .options .volume {
    position: relative;
}

.main-container .player-controller .options .volume .volume-container {
    position: absolute;
    top: -3.5em;
    left: -8em;
    width: 10em;
    padding: 1rem 2rem;
    background-color: var(--secondary-color-400);
    border: 1px solid rgba(255, 255, 255, 0.125);
    backdrop-filter: blur(16px) saturate(100%);
    -webkit-backdrop-filter: blur(16px) saturate(100%);
    z-index: 3;
    border-radius: 10px;
    clip-path: circle(0% at 100% 100%);
    transition: clip-path 0.5s ease;
    pointer-events: none;
}

.main-container .player-controller .options .volume.active .volume-container {
    clip-path: circle(300% at 100% 100%);
    pointer-events: all;
}

.main-container
    .player-controller
    .options
    .volume
    .volume-container
    .volume-slider {
    width: 100%;
}

.wrapper {
    padding: 0;
    flex-grow: 1;
    overflow: auto;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.main-container
    .player-controller
    .options
    .volume
    .volume-container
    .volume-slider {
    -webkit-appearance: none;
    /* height: 8px; */
    width: 100%;
    background-color: var(--secondary-color-600);
}

.main-container
    .player-controller
    .options
    .volume
    .volume-container
    .volume-slider:focus {
    outline: none;
}

.main-container
    .player-controller
    .options
    .volume
    .volume-container
    .volume-slider::-webkit-slider-runnable-track {
    width: 100%;
    cursor: pointer;
    background: var(--primary-color-400);
    border-radius: 10px;
    height: 8px;
}
.main-container
    .player-controller
    .options
    .volume
    .volume-container
    .volume-slider::-webkit-slider-thumb {
    border: 2px solid var(--secondary-color-500);
    height: 16px;
    width: 16px;
    border-radius: 12px;
    background: var(--font-color);
    /* border: none; */
    cursor: pointer;
    /* margin-bottom: 32px; */
    -webkit-appearance: none;
    margin-top: -4px;
}

.main-container
    .player-controller
    .options
    .volume
    .volume-container
    .volume-slider:focus::-webkit-slider-runnable-track {
    background: var(--primary-color-400);
}

.main-container
    .player-controller
    .options
    .volume
    .volume-container
    .volume-slider::-moz-range-track {
    width: 100%;
    height: 8px;
    border-radius: 10px;
    cursor: pointer;
    background: var(--primary-color-400);
}
.main-container
    .player-controller
    .options
    .volume
    .volume-container
    .volume-slider::-moz-range-thumb {
    border: 2px solid var(--primary-color-400);
    height: 16px;
    width: 16px;
    border-radius: 12px;
    background: var(--font-color);
    cursor: pointer;
}
.main-container
    .player-controller
    .options
    .volume
    .volume-container
    .volume-slider::-ms-track {
    border: 2px solid var(--secondary-color-500);
    /* height: 8px; */
    width: 100%;
    border-radius: 12px;
    margin: 0;
    background: var(--font-color);
}
.main-container
    .player-controller
    .options
    .volume
    .volume-container
    .volume-slider::-ms-fill-lower {
    background: var(--primary-color-400);
}
.main-container
    .player-controller
    .options
    .volume
    .volume-container
    .volume-slider::-ms-fill-upper {
    background: var(--primary-color-400);
}
.main-container
    .player-controller
    .options
    .volume
    .volume-container
    .volume-slider::-ms-thumb {
    border: 2px solid var(--secondary-color-500);
    height: 16px;
    width: 16px;
    border-radius: 12px;
    background: var(--font-color);
    cursor: pointer;
}
.main-container
    .player-controller
    .options
    .volume
    .volume-container
    .volume-slider:focus::-ms-fill-lower {
    background: var(--primary-color-400);
}
.main-container
    .player-controller
    .options
    .volume
    .volume-container
    .volume-slider:focus::-ms-fill-upper {
    background: var(--primary-color-400);
}

.main-container .favorite-section {
    padding: 2em 0em;
}

.heart.favorite {
    color: var(--primary-color-400);
}

/* .player .player-controller .options .more-options {
    position: relative;
} */

.player .player-controller .options .more-options .container {
    position: absolute;
    left: 100%;
    bottom: 100%;
    display: flex;
    background-color: var(--secondary-color-400);
    backdrop-filter: blur(16px) saturate(100%);
    -webkit-backdrop-filter: blur(16px) saturate(100%);
    padding: 1em 1.5em;
    gap: 2em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    opacity: 0;
    pointer-events: none;
    z-index: 3;
    transition: transform 0.3s cubic-bezier(0, -0.5, 0.2, 1.4),
        opacity 0.3s ease-in-out 0.1s;
}

.player .player-controller .options .more-options.show .container {
    opacity: 1;
    pointer-events: all;
    transform: translateX(-100%);
}

.player .player-controller .options .more-options .container i {
    transition: color 0.3s ease;
}

.player .player-controller .options .more-options .container i.active {
    color: var(--primary-color-400);
}

.player .player-controller .options .more-options .container i:hover {
    color: var(--primary-color-400);
}

.player-section .playlist .logo {
    position: relative;
    /* overflow: hidden; */
    cursor: pointer;
}

.player-section .playlist .logo .reset-player {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 3;
    pointer-events: none;
    transition: opacity 0.5s ease;
    outline: 2px ridge #171c24;
    border-radius: 16px;
}

.player-section .playlist .logo .reset-player.show {
    background-color: #171c24be;
    opacity: 1;
}

.main-container .favorite-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

.main-container .edit-playlist-section {
    position: absolute;
    display: flex;
    width: 80%;
    height: 100%;
    z-index: 6;
    justify-content: center;
    background-color: var(--secondary-color-600);
    backdrop-filter: blur(16px) saturate(80%);
    -webkit-backdrop-filter: blur(16px) saturate(80%);
    top: 0;
    transform: translateY(-100%);
    transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.main-container .edit-playlist-section .close-btn {
    position: absolute;
    cursor: pointer;
    font-size: 2em;
    top: 5%;
    right: 5%;
}

.main-container .edit-playlist-section.show {
    transform: translateY(0);
}

.main-container .edit-playlist-section .playlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.main-container .edit-playlist-section .playlist .playlist-logo {
    padding: 2rem;
    font-size: 7em;
    border-radius: 20px;
    background-color: #9adcff;
    max-width: 40ch;
    text-align: center;
    margin-top: 1em;
}

.main-container .edit-playlist-section .playlist .details {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-container .edit-playlist-section .playlist .details form {
    width: 30vw;
    margin-top: 1em;
}

.main-container .edit-playlist-section .playlist .details .author {
    margin-top: 0.5em;
}

.main-container .edit-playlist-section .playlist .details input {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    display: block;
    color: var(--font-color);
    text-align: center;
    font-size: 1.5em;
    border-bottom: 2px solid var(--secondary-color-400);
}

.main-container .edit-playlist-section .playlist .songs {
    width: 50vw;
    max-height: 50%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.main-container .edit-playlist-section .playlist .songs::-webkit-scrollbar {
    display: none;
}

.main-container .edit-playlist-section .playlist .songs .song {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--secondary-color-400);
    padding: 0.5em 1em;
    background-color: var(--secondary-color-500);
    backdrop-filter: blur(20px) saturate(100%);
    -webkit-backdrop-filter: blur(20px) saturate(100%);
    border-radius: 12px;
}

.main-container
    .edit-playlist-section
    .playlist
    .songs
    .song
    .description
    .details {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    opacity: 0.3;
}

.main-container
    .edit-playlist-section
    .playlist
    .songs
    .song
    .description
    .title {
    font-size: 1.2em;
    font-weight: 300;
    max-width: 30ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main-container
    .edit-playlist-section
    .playlist
    .songs
    .song
    .description
    .details
    .author {
    margin-top: 0;
}

.main-container .edit-playlist-section .playlist .songs .song .buttons {
    gap: 2em;
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
    align-items: center;
}

.main-container
    .edit-playlist-section
    .playlist
    .songs
    .song
    .buttons
    .add:hover,
.main-container
    .edit-playlist-section
    .playlist
    .songs
    .song
    .buttons
    .remove:hover {
    transition: color 0.2s ease-in-out;
    color: var(--primary-color-400);
    cursor: pointer;
}

.main-container .edit-playlist-section .playlist .songs .song .buttons .add {
    width: 1.5em;
    height: 1.5em;
}

.main-container .search-section .filters,
.main-container .playlist-search-section .filters {
    position: absolute;
    top: -2rem;
    left: 1rem;
    display: flex;
    gap: 1em;
}

.main-container .search-section .filters .filter,
.main-container .playlist-search-section .filters .filter {
    font-size: 0.5em;
    cursor: pointer;
    border: 2px solid var(--primary-color-500);
    border-radius: 0.5em;
    padding: 0.5em 0.8em;
    transition: all 0.5s ease;
}

.main-container .search-section .filters .filter.active,
.main-container .playlist-search-section .filters .filter.active {
    background-color: var(--primary-color-400);
}

.main-container .search-section .filters .filter:hover,
.main-container .playlist-search-section .filters .filter:hover {
    background-color: var(--primary-color-400);
}

.main-container .search-section .filters .selected-filter,
.main-container .playlist-search-section .filters .selected-filter {
    display: none;
}

@media screen and (max-width: 1600px) {
    .main-container .navigation {
        width: 30%;
    }

    .main-container .search-section .search {
        width: 30ch;
    }

    .main-container {
        width: 100%;
        height: 100vh;
        border-radius: 0;
    }

    .main-container .search-section .search-result {
        width: 80%;
    }

    .main-container
        .player-section
        .player
        .player-controller
        .currentSong
        .title {
        max-width: 20ch;
    }

    .main-container
        .player-section
        .player
        .player-controller
        .currentSong
        .author {
        max-width: 20ch;
    }

    .main-container .edit-playlist-section .close-btn {
        right: 20%;
    }
}

@media screen and (max-width: 1000px) {
    :root {
        font-size: 14px;
    }

    .main-container
        .player-section
        .playlist-songs
        .song
        .description
        .title
        p {
        max-width: 30ch;
    }

    .main-container
        .edit-playlist-section
        .playlist
        .songs
        .song
        .description
        .title {
        font-size: 1.2em;
        max-width: 20ch;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media screen and (max-width: 600px) {
    :root {
        font-size: 12px;
    }

    .main-container .search-section .search-result,
    .main-container .favorite-section .songs {
        width: 95%;
    }
}

@media screen and (max-width: 500px) {
    :root {
        font-size: 10px;
    }

    .main-container .edit-playlist-section {
        width: 100%;
    }

    .main-container .navigation {
        position: absolute;
        height: 100vh;
        width: 100vw;
        z-index: 100;
        font-size: 2em;
        transform: translateX(-200%);
        transition: transform 0.5s ease-in-out;
        background-color: var(--secondary-color-500);
        backdrop-filter: blur(16px) saturate(200%);
        -webkit-backdrop-filter: blur(16px) saturate(200%);
    }

    .main-container .navigation.show {
        transform: translateX(0);
    }

    .navigation-btn {
        display: block;
        position: absolute;
        top: 3%;
        left: 5%;
        font-size: 2em;
        cursor: pointer;
        z-index: 200;
        transition: color 0.3s ease;
    }

    .navigation-btn:hover {
        color: var(--primary-color-400);
    }

    .navigation-btn.hide {
        transform: translateX(85vw) rotate(180deg);
        animation: navigation-btn-slide-reverse 0.3s
            cubic-bezier(0, -0.5, 0.2, 1.4) forwards;
    }

    .navigation-btn.show {
        animation: navigation-btn-slide 0.5s cubic-bezier(0, -0.5, 0.2, 1.4)
            forwards 0.2s;
    }

    .song-added,
    .song-added {
        right: -30vw !important;
    }

    .song-added.show,
    .song-added.show {
        transform: translateX(-35vw) !important;
    }

    .playlist-search-section .playlist-saved {
        right: -20vw !important;
    }

    .playlist-search-section .playlist-saved.show {
        transform: translateX(-22vw) !important;
    }

    .playlist-search-section .search-result {
        min-width: 90vw;
    }

    .playlist-search-section
        .search-result
        .playlist
        .songs
        .video
        .description
        .title {
        max-width: 40ch;
    }

    .main-container .edit-playlist-section .close-btn {
        right: 5%;
    }

    .main-container .edit-playlist-section .playlist .songs {
        width: 90vw;
    }

    .main-container .edit-playlist-section .playlist .details form {
        width: 50vw;
    }

    .main-container
        .edit-playlist-section
        .playlist
        .songs
        .song
        .description
        .title {
        font-size: 1.2em;
        max-width: 30ch;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@keyframes navigation-btn-slide {
    0% {
        transform: translateX(0) rotate(0deg);
    }

    100% {
        transform: translateX(85vw) rotate(180deg);
    }
}

@keyframes navigation-btn-slide-reverse {
    0% {
        transform: translateX(85vw), rotate(180deg);
    }

    100% {
        transform: translateX(0) rotate(0);
    }
}

@keyframes list-item-pop-up {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes list-pop-up {
    0% {
        display: flex;
        opacity: 0;
        transform: scale(0);
    }

    100% {
        transform: scale(1);
        opacity: 1;
        display: flex;
    }
}
